.container{
    position:fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
    padding: 10px;

    .navRight{
        display:flex;
        align-items:center;
    }

    .logoImg{
        width: 60px;
    }

}

.bgCol{
    background-color: #4a4a4aa3;
}





@media (min-width: 1024px) { 

    .container{
        padding: 20px;
    }
}