

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
}


h1 {
   font-size: 5.2rem; 
   line-height: 5.2rem; 
}

h2 {
    font-size: clamp(2.2rem, 1.836rem + 1.818vw, 3rem);
    line-height: 2.2rem; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

h3 {
    font-size: clamp(1.8rem, 1.482rem + 1.591vw, 2.5rem);
    line-height: 1.8rem; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    font-size: clamp(1rem, 0.864rem + 0.682vw, 1.3rem);
}


/* Styling til de lyse tekster */
.altTextStyle{
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #000;
    color: #fff;
}


