:root {


    --font-jah: "Just Another Hand";
    --font-kurale: "Kurale";

    --primary-font: var(--font-kurale);
    --secondary-font: var(--font-jah);

    --dark-text-color : #000000;
    --light-text-color : #fff;

    --dark-bg: #4A4A4A;
    --light-bg:#DFD4D1;
;
    
}

